<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->

    <logo-nav></logo-nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
            <!-- partial:partials/_settings-panel.html -->
            <header-nav></header-nav>
            <profile-nav></profile-nav>
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->

            <!-- partial -->
            <div class="content-wrapper">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Dash Board </h4>
                        <div class="row ">
                            <div class="col-md-4 ">
                                <div class="row grid-list">
                                    <div class="col-sm-6 icon">
                                        <i class="fa fa-user-circle-o" style="font-size:36px"></i>
                                    </div>
                                    <div class="col-sm-6 count">
                                        <strong><h6>Users</h6></strong> <h1><span>{{userCount}}</span></h1>
                                        <!-- <div class="counter" [data-count]="userCount">0</div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="row grid-list one">
                                    <div class="col-sm-6 icon">
                                        <i class="fa fa-user-circle-o" style="font-size:36px"></i>
                                    </div>
                                    <div class="col-sm-6 count">
                                        <strong><h6>Vendors</h6></strong> <h1>{{Count.venders}}</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="role==='Admin'">
                                <div class="row  grid-list two">
                                    <div class="col-sm-6 icon">
                                        <i class="fa fa-user-circle-o" style="font-size:36px"></i>
                                    </div>
                                    <div class="col-sm-6 count">
                                        <strong><h6>Wholesellers</h6></strong> <h1>{{Count.wholeseller}}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="row grid-list three">
                                    <div class="col-sm-6 icon">
                                        <i class="fa fa-list-alt" aria-hidden="true"></i>

                                    </div>
                                    <div class="col-sm-6 count">
                                        <strong><h6>User Orders</h6></strong> <h1>{{Count.userorders}}</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="row grid-list four">
                                    <div class="col-sm-6 icon">
                                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-sm-6 count">
                                        <strong><h6>Vendor Orders</h6></strong> <h1>{{Count.venderorders}}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer ">
                <div class="container-fluid clearfix ">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block ">Copyright © 2019
                        <a routerLink="# ">Mahali </a>. All rights reserved. </span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center ">
                    </span>
                </div>
            </footer>

            <!-- partial -->
        </div>
        <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>