.vendor-button{
    background-color: #0d3d66;
}
.form-control{
    width: 400px;
}
.btn-outline-primary{
    color: #03a9f3 !important;
}
.btn-outline-primary:hover{
    color: #fff !important;
}
.btn-maron.cust-b1.tab {
    background: white;
    color: lightpink !important;
    border: 2px solid blue;
}
