<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->

    <logo-nav></logo-nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
            <!-- partial:partials/_settings-panel.html -->
            <header-nav></header-nav>
            <profile-nav></profile-nav>
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->

            <!-- partial -->
            <div class="content-wrapper">
                <div class="card">
                    <div class="card-body">
                        <!-- <a href="" id="show" class="btn  btn-maron" style="float: right">Export To Excel</a> -->
                        <a (click)="addBanner('')" routerLink="/addoffersBanners" id="show" class="btn  btn-maron"
                            style="float: right">Add
                            Banners
                        </a>
                        <h4 class="card-title">
                            Dummy Banners </h4>
                        <span>
                            <input class="form-control" type="text" placeholder="Search.." name="search"
                                [(ngModel)]="filter"></span>

                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-maron cust-b1 tab" (click)="getvendorG()"
                                    [ngStyle]="{'background-color':type == 0 ? 'blue'  :  'white'}">Vendor Grocery

                                </button>
                                <button class="btn btn-maron cust-b1 tab" (click)="getvendorE()"
                                    [ngStyle]="{'background-color':type == 1 ? 'blue'  :  'white'}"> Vendor Ecommerce

                                </button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-maron cust-b1 tab" (click)="getUserG()"
                                    [ngStyle]="{'background-color':type == 2 ? 'blue'  :  'white'}"> User Grocery

                                </button>
                                <button class="btn btn-maron cust-b1 tab" (click)="getUserE()"
                                    [ngStyle]="{'background-color':type == 3 ? 'blue'  :  'white'}"> User Ecommerce

                                </button>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="order-listing" class="table " style="text-align: center">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>S.no</th>
                                                <th>Mobile Banner</th>
                                                <th>Website Banner</th>
                                                <th>Type</th>
                                                <th>Target</th>
                                                <!-- <th>Phone </th>
                                                <th>Logo</th> -->
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="todo-list"
                                                *ngFor="let data of mainBannerData| filter:filter | paginate: { itemsPerPage: 10, currentPage: p };let i = index">
                                                <td>{{i+1}}</td>
                                                <td>
                                                    <img [src]="data.mobile_banner " alt="data.image " /></td>
                                                <td>
                                                    <img [src]="data.website_banner " alt="prod.image " /></td>
                                                <td>{{data.type}}</td>
                                                <td>{{data.target}}</td>
                                                <td>
                                                    <a class="btn btn-outline-primary
                                                " (click)="editBanner(data.banner_id,data.image_id,data.website_banner,data.mobile_banner,data.banner_type) "
                                                        style="margin-right:10px ">Edit</a>
                                                    <a class="btn btn-outline-primary vendor-delete " (click)="deleteBanner(data.image_id
                                                    ) ">Delete</a>
                                                </td>
                                            </tr>
                                            <td *ngIf="noBanners">
                                                <h4>No Banners Found</h4>
                                            </td>
                                        </tbody>
                                    </table>
                                    <!-- <pagination-controls (pageChange)="p=$ event " style="float:right; margin-top:15px; "></pagination-controls> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer ">
                <div class="container-fluid clearfix ">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block ">Copyright © 2019
                        <a routerLink="# ">Mahali </a>. All rights reserved. </span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center ">

                    </span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>