<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->

    <logo-nav></logo-nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
            <!-- partial:partials/_settings-panel.html -->
            <header-nav></header-nav>
            <profile-nav></profile-nav>
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->

            <!-- partial -->
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title" (click)="addSub()">{{title}} </h4>
                                <a routerLink="/subcategory" id="show" class="btn  btn-maron"
                                    style="float: right;    margin-top: -45px;">Back</a>
                                <form class="cmxform" id="signupForm" method="get" action="#">
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="firstname">Category</label>
                                            <div class="form-group">
                                                <select [selected]="mainCat" class="form-control border-primary"
                                                    id="exampleSelectPrimary" [(ngModel)]="mainCat" name="mainCat"
                                                    (change)="changeCat($event.target.value)">
                                                    <option value="" disabled selected hidden>Select category</option>
                                                    <option *ngFor="let cat of category" [value]="cat.id"
                                                        [selected]="cat.category_name==mainCat">{{cat.category_name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="firstname">Sub Category Name</label>
                                            <input id="category" class="form-control" name="category" type="text"
                                                [(ngModel)]="subCa" name="subCa" />
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Sub Category Image</label>
                                            <input class="form-control" type="file" accept="image/*"
                                                (change)="changeListener($event)" [(ngModel)]="img" name="img" multiple>
                                            <div *ngIf="image">
                                                <img src="{{image}}" alt="" width="100" height="100"
                                                    style="border: solid 1px;margin-top: 2%;">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <img src="{{img}}" alt="" width="100" height="100"
                                                style="border: solid 1px;margin-top: 2%;">
                                        </div>
                                        <div class="form-group">
                                            <label for="firstname">Description :</label>
                                            <br />
                                            <textarea class="form-control" rows="4" cols="50"
                                                style="width: 100%;border: 1px solid;height:130px;font-size: 14px; "
                                                [(ngModel)]="textarea" name="textarea">
                                                        </textarea>
                                        </div>
                                        <br />
                                        <button type="submit" class="btn btn-primary vendor-button"
                                            (click)="insertSubCat()" *ngIf="subCate">Add
                                            Sub Category
                                        </button>
                                        <button type="submit" class="btn btn-primary vendor-button"
                                            (click)="updateSubCat()" *ngIf="!subCate">update
                                            Sub Category
                                        </button>
                                        <!-- <input class="btn btn-primary subcat" type="submit" value="Add Sub Category" style="background-color:#0d3d66" (click)="insertSubCat()"
                                            *ngIf="subCate">
                                        <input class="btn btn-primary subcat" type="submit" value="update Sub Category" style="background-color:#0d3d66;" (click)="updateSubCat()"
                                            *ngIf="!subCate"> -->
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid clearfix">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019
                        <a routerLink="#">Mahali</a>. All rights reserved. </span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                    </span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>