<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->

    <logo-nav></logo-nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
            <!-- partial:partials/_settings-panel.html -->
            <header-nav></header-nav>
            <profile-nav></profile-nav>
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->

            <!-- partial -->
            <!-- partial -->
            <div class="content-wrapper">
                <div class="card">
                    <div class="card-body">

                        <a (click)="addSub('','','','','addsub')" id="show" class="btn  btn-maron" style="float: right">Add
                            Sub Category</a>
                        <h4 class="card-title">Sub Categories </h4>
                        <span><input type="text" placeholder="Search.." [(ngModel)]="filter"></span>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-maron cust-b1 tab" (click)="getSubCategory()" [ngStyle]="{'background-color':actionType == 'grocery' ? 'blue'  :  'white'}">Grocery

                                </button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-maron cust-b1 tab" (click)="getEcomSubCategory()" [ngStyle]="{'background-color':actionType == 'ecom' ? 'blue'  :  'white'}">Ecommerce

                                </button>
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="order-listing" class="table " style="text-align: center" *ngIf="grocerySubCats">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>S.no</th>
                                                <th>Category Name
                                                </th>
                                                <th>Sub Category Name
                                                </th>
                                                <th>Sub Category Image</th>
                                                <th>Description</th>
                                                <th>Actions </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="todo-list" *ngFor="let subCat of subCategory | filter:filter | paginate: { itemsPerPage: 10, currentPage: p };let i = index">
                                                <td>{{i+1}}</td>
                                                <td>{{subCat.category_name}}</td>
                                                <td>{{subCat.sub_category_name}}</td>
                                                <td><img [src]="subCat.image"></td>
                                                <td class="d-inline-block text-truncate" style="max-width:200px;">{{subCat.description}}</td>
                                                <td>
                                                    <a class="btn btn-outline-primary" (click)="addSub(subCat.id,subCat.category_name,subCat.sub_category_name,subCat.category_id,'editsub',subCat.image,subCat.description)">View/Edit</a>
                                                    <button class="btn remove btn-outline-primary" (click)="deleteSubCat(subCat.id)">Delete
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table id="order-listing" class="table " style="text-align: center" *ngIf="ecomSubcats">
                                        <thead class=" thead-dark ">
                                            <tr>
                                                <th>S.no</th>
                                                <th>Category Name
                                                </th>
                                                <th>Sub Category Name
                                                </th>
                                                <th>Sub Category Image</th>
                                                <th>Description</th>
                                                <th>Actions </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="todo-list " *ngFor="let subCat of subCategory | filter:filter |
                                        paginate: { itemsPerPage: 10, currentPage: p };let i=index ">
                                                <td>{{i+1}}</td>
                                                <td>{{subCat.category_name}}</td>
                                                <td>{{subCat.sub_category_name}}</td>
                                                <td><img [src]="subCat.image "></td>
                                                <td class="d-inline-block text-truncate " style="max-width:200px; ">{{subCat.description}}</td>
                                                <td>
                                                    <a class="btn btn-outline-primary " (click)="addSub(subCat.id,subCat.category_name,subCat.sub_category_name,subCat.category_id,
                                        'editsub',subCat.image,subCat.description) ">View/Edit</a>
                                                    <button class="btn remove btn-outline-primary " (click)="deleteSubCat(subCat.id) ">Delete
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <pagination-controls (pageChange)="p = $event" style="float:right; margin-top:15px;"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer ">
                <div class="container-fluid clearfix ">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block ">Copyright © 2019
                        <a routerLink="# ">Mahali </a>. All rights reserved. </span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center ">
                    </span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>