<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->

    <logo-nav></logo-nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
            <!-- partial:partials/_settings-panel.html -->
            <header-nav></header-nav>
            <profile-nav></profile-nav>
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->

            <!-- partial -->
            <div class="content-wrapper">
                <div class="card">
                    <div class="card-body">
                        <!-- <a href="" id="show" class="btn  btn-maron" style="float: right">Export To Excel</a> -->
                        <a routerLink="/addslot" id="show" class="btn  btn-maron" style="float: right">Add Delivery Slot
                        </a>
                        <h4 class="card-title">
                            Delivery Slot</h4>
                        <br />
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="order-listing" class="table " style="text-align: center">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>S.no</th>
                                                <th>Slot Name</th>
                                                <th>Date</th>
                                                <!-- <th>Password</th> -->
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="todo-list" *ngFor="let item of slots | paginate: { itemsPerPage: 10, currentPage: p } ;let i = index">
                                                <td>{{i+1}}</td>
                                                <td>{{item.time[0].slot_name}}</td>
                                                <td>{{item.date}}</td>
                                                <td>{{item.time[0].start_time}}</td>
                                                <td>{{item.time[0].end_time}}</td>
                                                <td>
                                                    <a routerLink="/addDelivery" class="btn btn-outline-primary" (click)="edit(item.id)" style="margin-right:10px">Edit</a>
                                                    <a (click)="deleteSlot(item.id)" class="btn btn-outline-primary vendor-delete">Delete</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <pagination-controls (pageChange)="p = $event" style="float:right; margin-top:15px;"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid clearfix">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019
                        <a routerLink="#">Mahali </a>. All rights reserved. </span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">

                    </span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>