<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->

    <logo-nav></logo-nav>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
            <!-- partial:partials/_settings-panel.html -->
            <header-nav></header-nav>
            <profile-nav></profile-nav>

            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->

            <!-- partial -->
            <div class="content-wrapper">
                <div class="card">
                    <div class="card-body">
                        <a id="show" class="btn  btn-maron" style="float: right" routerLink="/staff">Add Staff</a>
                        <h4 class="card-title">Staff List </h4>
                        <span>
                            <input class="form-control" type="text" placeholder="Search.." name="search" [(ngModel)]="filter"></span>
                        <br/>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="order-listing" class="table " style="text-align: center">
                                        <thead class="thead-dark">
                                            <tr class="todo-list">
                                                <th>S.no</th>
                                                <th>Name</th>
                                                <th>Email </th>
                                                <th>Mobile Number</th>
                                                <th>Role</th>
                                                <th>Address </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="todo-list" *ngFor="let cat of staffData | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                                <td>{{i+1}}</td>
                                                <td>{{cat.name}}</td>
                                                <td>{{cat.email}}</td>
                                                <td>{{cat.mobile_number}}</td>
                                                <td>{{cat.role_name || "-"}}</td>
                                                <td>
                                                    {{cat.area}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <pagination-controls (pageChange)="p = $event" style="float:right; margin-top:15px;"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid clearfix">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019
                        <a routerLink="#">Mahali </a>. All rights reserved. </span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                    </span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<script src="../../assets/admin-scripts/bootstrap/dist/js/bootstrap.min.js"></script>