<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <logo-nav></logo-nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
            <!-- partial:partials/_settings-panel.html -->
            <header-nav></header-nav>
            <profile-nav></profile-nav>
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->

            <!-- partial -->
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card add-staff">
                            <div class="card-body">
                                <h4 class="card-title text-center" (click)="addCat()">Add staff</h4>
                                <a routerLink="/getStaff" id="show" class="btn  btn-maron" style="float: right;    margin-top: -45px;">Back</a>
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1"> Name</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="name" name="input">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail2"> City</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="city" name="city">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail2"> Area</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="area" name="area">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail2"> Address</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="address" name="address">
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputEmail2"> Zip Code</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="zip" name="zip">
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputEmail2">Mobile Number</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="mobileNum" name="mobileNum">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail2">Email</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="email" name="email">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail2">Password</label>
                                                <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="password" name="password">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail2">Role</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="role" name="password">
                                            </div>

                                        </div>

                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="check1"> Categories</label>
                                                        <input type="checkbox" id="check1" [(ngModel)]="catmarked" data-md-icheck [ngModelOptions]="{standalone: true}" (change)="toggleVisibility($event)"
                                                        />
                                                    </div>
                                                    <div class="form-group">
                                                        <label> Sub Categories</label>
                                                        <input type="checkbox" [(ngModel)]="subcatmarked" data-md-icheck [ngModelOptions]="{standalone: true}" (change)="toggleVisibility1($event)"
                                                        />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="check3"> Coupon Management</label>
                                                        <input type="checkbox" id="check3" [(ngModel)]="couponmarked" data-md-icheck [ngModelOptions]="{standalone: true}" (change)="toggleVisibility2($event)"
                                                        />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Products</label>
                                                        <input type="checkbox" [(ngModel)]="products" data-md-icheck [ngModelOptions]="{standalone: true}" (change)="toggleVisibility3($event)"
                                                        />
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Banners</label>
                                                        <input type="checkbox" [(ngModel)]="banners" data-md-icheck [ngModelOptions]="{standalone: true}" (change)="toggleVisibility4($event)"
                                                        />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>User List</label>
                                                        <input type="checkbox" [(ngModel)]="userList" data-md-icheck [ngModelOptions]="{standalone: true}" (change)="toggleVisibility5($event)"
                                                        />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Notifications</label>
                                                        <input type="checkbox" [(ngModel)]="notifcts" data-md-icheck [ngModelOptions]="{standalone: true}" (change)="toggleVisibility12($event)"
                                                        />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>User List</label>
                                                        <input type="checkbox" [(ngModel)]="vendorList" data-md-icheck [ngModelOptions]="{standalone: true}" (change)="toggleVisibility6($event)"
                                                        />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Wholeseller List</label>
                                                        <input type="checkbox" [(ngModel)]="wholeList" data-md-icheck [ngModelOptions]="{standalone: true}" (change)="toggleVisibility7($event)"
                                                        />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Vendor Orders</label>
                                                        <input type="checkbox" [(ngModel)]="venOrd" data-md-icheck [ngModelOptions]="{standalone: true}" (change)="toggleVisibility8($event)"
                                                        />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>User Orders</label>
                                                        <input type="checkbox" [(ngModel)]="userOrd" data-md-icheck [ngModelOptions]="{standalone: true}" (change)="toggleVisibility9($event)"
                                                        />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Content Management</label>
                                                        <input type="checkbox" [(ngModel)]="content" data-md-icheck [ngModelOptions]="{standalone: true}" (change)="toggleVisibility10($event)"
                                                        />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Staff</label>
                                                        <input type="checkbox" [(ngModel)]="staff" data-md-icheck [ngModelOptions]="{standalone: true}" (change)="toggleVisibility11($event)"
                                                        />
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- <div class="form-group">
                                        <label for="firstname">Description :</label>
                                        <br />
                                        <textarea class="form-control" rows="4" cols="50" style="width: 100%;border: 1px solid;height:130px;font-size: 14px;" [(ngModel)]="textarea"
                                            name="textarea">
                                                </textarea>
                                    </div> -->
                                    <button type="submit" class="btn btn-primary vendor-button" (click)="addStaff()">Add
                                    </button>
                                    <!-- <button type="submit" class="btn btn-primary vendor-button" (click)="updateCat(input)" *ngIf="!addcat">Update
                                        category
                                    </button> -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid clearfix">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019
                        <a routerLink="#">Mahali</a>. All rights reserved. </span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">

                    </span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>