<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->

    <logo-nav></logo-nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
            <!-- partial:partials/_settings-panel.html -->
            <header-nav></header-nav>
            <profile-nav></profile-nav>
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->

            <!-- partial -->
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Delivery Information</h4>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Title</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="title" name="title">
                                </div>
                                <ckeditor [(ngModel)]="ckeditorContent">
                                </ckeditor>
                                <br>
                                <!-- <button type="submit" class="btn btn-primary vendor-button" (click)="deliveryInfo()" style="margin-right:20px;">Submit
                                </button> -->
                                <button type="submit" class="btn btn-primary vendor-button" (click)="updateDelivery()">Update
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid clearfix">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019
                        <a routerLink="#">Mahali </a>. All rights reserved. </span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                    </span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>