input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 17px;
    border: solid 1px #eaeaea;
    border-radius: 5px;
    width: 30%;
}
.fa-search{
    position: absolute;
    top: 11.5%;
    left: 26%;
}
.btn-outline-primary{
    color: #03a9f3 !important;
}
.btn-outline-primary:hover{
    color: #fff !important;
}
.thead-dark { 
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
    padding: 10px;
}
.cst-topad {
    cursor: pointer;
}
.order-status{
    background-image: url(/assets/images/down-arrow.png)!important;
    background-position: 96% 50% !important;
    background-repeat: no-repeat !important;
}