<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->

    <logo-nav></logo-nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
            <!-- partial:partials/_settings-panel.html -->
            <header-nav></header-nav>
            <profile-nav></profile-nav>
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->

            <!-- partial -->
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-center">Add Coupon</h4>
                                <a routerLink="/offers" id="show" class="btn  btn-maron" style="float: right;    margin-top: -45px;">Back</a>
                                <form class="cmxform" id="signupForm" method="get" action="#">
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="firstname">Coupon Code</label>
                                            <input id="category" class="form-control" type="text" [(ngModel)]="coupon" [ngModelOptions]="{standalone: true}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="sel1">Discount type</label>
                                            <select class="form-control border-primary" id="sel1" (change)="discount($event.target.value)" [(ngModel)]="data.discountType"
                                                name="dickType">
                                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                <option value="" disabled>Select Discount type</option>
                                                <option *ngFor="let item of DisType" value="{{item.id}}">{{item.name}}</option>
                                                <!-- <option value="1">Flat</option>
                                                <option value="2">Percentage</option> -->
                                                <!-- <option value="3">Free Delivery</option> -->
                                            </select>
                                        </div>
                                        <div class="form-group" *ngIf="amount">
                                            <label for="firstname">Discount amount</label>
                                            <input id="category" class="form-control" name="disAmt" type="text" [(ngModel)]="disAmt" />
                                        </div>
                                        <div class="form-group" *ngIf="percentage">
                                            <label for="firstname">Discount Percentage</label>
                                            <input id="category" class="form-control" name="disPer" type="text" [(ngModel)]="disPer" />
                                        </div>
                                        <div class="form-group">
                                            <label for="firstname">Minimum Usage Count</label>
                                            <input id="category" class="form-control" name="total" type="text" [(ngModel)]="total" />
                                        </div>
                                        <div class="form-group">
                                            <label for="firstname">Minimum amount </label>
                                            <input id="category" class="form-control" name="upto" type="text" [(ngModel)]="upto" />
                                        </div>
                                        <div class="form-group date date-picker">
                                            <label>Start date: </label>
                                            <my-date-picker name="model" [options]="myDatePickerOptions" [(ngModel)]="model" required></my-date-picker>
                                        </div>
                                        <div class="form-group date date-picker">
                                            <label>End date: </label>
                                            <my-date-picker name="model1" [options]="myDatePickerOptions" [(ngModel)]="model1" required></my-date-picker>
                                        </div>
                                        <button type="submit" class="btn btn-primary vendor-button" *ngIf="!offerId" (click)="addOffer()">
                                            Add Coupon
                                        </button>
                                        <button type="submit" class="btn btn-primary vendor-button" *ngIf="offerId" (click)="updateOfferById()">
                                            Update Coupon
                                        </button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid clearfix">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019
                        <a routerLink="#">Mahali </a>. All rights reserved. </span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                    </span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>