.add-product-btn{
    background-color: #0d3d66;
}
.spec-button{
    background-color: #0d3d66;
}
span input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 17px;
    border: solid 1px #eaeaea;
    border-radius: 5px;
    width: 30%;
  }
  
  .fa-search{
    position: absolute;
    top: 13.5%;
    left: 26%;
  }

.vendor-button{
    background-color: #0d3d66;
}
.date{
    width: 400px;
}
.btn-import {
    cursor: pointer;
}
.btn-import label{
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 0px;
}

.selected{
    border: 5px #eb9809 solid !important;
}

img{
    cursor: pointer;
}
.active{
    border: 5px red solid !important; 
}
strong{
    /* color:red; */
    cursor: pointer;
}
.form-inline{
    margin-top: 30px;
}
.form-inline .form-control{
    margin-right: 20px;  
}
::placeholder{
    color: #999999;
}
.checkbox-inline{
    margin-bottom: 0px !important;
}
.margin{
    margin-left: 20px;
}
.checkbox-inline input{
    margin-right: 10px;
}
.form-group label{
    font-size: 16px;
    line-height: 2;
}
label{
    cursor: pointer;
}
.cmxform{
    margin-top: 40px;
    border: solid 1px #dbdbdb;
    border-radius: 10px;
    padding: 15px;
}
.form-control{
    border-color: #495057;
}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color:#0c9b3c; /*replace with your color*/
}

::ng-deep .mat-slide-toggle-thumb{
    background-color:#dd1f1f;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar{
    background-color: rgba(0,0,0,.38);
}
.pagination {
    display: inline-block;
    margin-top: 20px;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding:0.1875rem 0.625rem;
    text-decoration: none;
    transition: background-color .3s;
  }
  .m-t{
      margin-top: 15px;
  }
  
  .pagination a.active {
    background-color:#2199e8;
    color: white;
    border:none !important;
  }
  /* .present:active{
      background:red;
  } */
  .pagination a:hover:not(.active) {background-color: #ddd;}
  .btn-maron.tab{
    background: white;
    color:lightpink !important;
    border: 2px solid blue;
}