<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <div class="row">
      <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-full-bg">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-dark  p-5" *ngIf="forgotScreen">
              <h2 class="text-center">Forgot Password </h2>
              <!-- <h4 class="font-weight-light">Hello! let's get started </h4> -->
              <!-- <form class="pt-5">
                <div class="form-group">
                  <label for="exampleInputEmail1">Mobile Number </label>
                  <input myNumberOnly type="text" class="form-control" id="exampleInputEmail1"
                    placeholder="Mobile number" />
                  <i class="mdi mdi-account"></i>
                </div>

                <div class="mt-5">
                  <a class="btn btn-block btn-warning btn-lg font-weight-medium">Submit </a>
                  <a class="btn btn-block btn-warning btn-lg font-weight-medium" routerLink="/">Cancel </a>
                </div>

              </form> -->
              <form [formGroup]="forgotForm">
                <!-- <div class="form-group"> -->
                <div class="form-group">
                  <label for="exampleInputEmail1" class="text-left1">Mobile Number </label>
                  <input myNumberOnly type="text" formControlName="mob_number" class="form-control forgotclass"
                    [ngClass]="{ 'is-invalid': forgotSubmitted && f2.mob_number.errors }" />
                  <div *ngIf="forgotSubmitted && f2.mob_number.errors" class="invalid-feedback text-left1">
                    <div *ngIf="f2.mob_number.errors.required">Mobile number is required</div>
                  </div>
                </div>
                <!-- </div> -->
                <!-- <input myNumberOnly type="text" formControlName="mob_number" class="form-control forgotclass"
                  [ngClass]="{ 'is-invalid': forgotSubmitted && f2.mob_number.errors }" />
                <div *ngIf="forgotSubmitted && f2.mob_number.errors" class="invalid-feedback text-left1">
                  <div *ngIf="f2.mob_number.errors.required">Mobile number is required</div>
                </div> -->
                <div class="mt-5">
                  <a class="btn btn-block btn-warning btn-lg font-weight-medium" (click)="forgot()">Submit </a><br />
                  <a class="btn btn-block btn-warning btn-lg font-weight-medium" routerLink="/">Cancel </a>
                </div>
              </form>
            </div>
            <div class="auth-form-dark  p-5" *ngIf="optScreen">
              <h2 class="text-center">Otp Verification </h2>
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1" class="text-left1">Otp</label>
                  <input type="text" [(ngModel)]="otpNumber" name="otpNumber" placeholder="otp" class="forgotclass" />
                </div>
                <!-- <div *ngIf="forgotSubmitted && f2.otp_number.errors" class="invalid-feedback">
                        <div *ngIf="f2.otp_number.errors.required">Mobile number is required</div>
                    </div> -->
                <!-- 
                    <input type="text" formControlName="mob_number" class="form-control" [ngClass]="{ 'is-invalid': forgotSubmitted && f2.mob_number.errors }" />
                    <div *ngIf="forgotSubmitted && f2.mob_number.errors" class="invalid-feedback">
                        <div *ngIf="f2.mob_number.errors.required">Mobile number is required</div>
                    </div> -->
                <div class="form-group cust-frmgrp">
                  <div class="col-sm-12 otp-screen">
                    <button class="btn btn-danger cust-logbtn submt-btn" (click)="otpScreen()">Submit</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="auth-form-dark text-center p-5" *ngIf="changePass">
              <h2>Change Password </h2>
              <form [formGroup]="changePassForm">
                <input type="text" formControlName="password" class="form-control"
                  [ngClass]="{ 'is-invalid': changePwSubmitted && f4.password.errors }" class="forgotclass" />
                <div *ngIf="changePwSubmitted && f4.password.errors" class="invalid-feedback">
                  <div *ngIf="f4.password.errors.required">Password is required</div>
                  <div *ngIf="f4.password.errors.minlength">Password must be atleast 6
                    characters
                  </div>
                </div>

                <div class="form-group cust-frmgrp">
                  <div class="col-sm-12">
                    <button class="btn btn-danger cust-logbtn submt-btn" (click)="ChangePw()">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- row ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>