<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->

    <logo-nav></logo-nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
            <!-- partial:partials/_settings-panel.html -->
            <header-nav></header-nav>
            <profile-nav></profile-nav>
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->

            <!-- partial -->
            <div class="content-wrapper">
                <div class="card">
                    <div class="card-body">
                        <a routerLink="/addlocation" id="show" class="btn  btn-maron" style="float: right">Add Location
                        </a>
                        <h4 class="card-title">Location Management </h4>
                        <span>
                            <input class="form-control" type="text" placeholder="Search.." name="search" [(ngModel)]="filter"></span>
                        <br />
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="order-listing" class="table " style="text-align: center">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>S.no</th>
                                                <th>Country
                                                </th>
                                                <th>State
                                                </th>
                                                <th>City</th>
                                                <th>Area</th>
                                                <th>Action </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="todo-list" *ngFor="let location of locationData | filter:filter;let i = index">
                                                <td>{{i+1}}</td>
                                                <td>{{location.country}}</td>
                                                <td>{{location.state}}</td>
                                                <td>{{location.city}}</td>
                                                <td>{{location.area}}</td>
                                                <td>
                                                    <button class="btn remove btn-outline-primary">Edit
                                                    </button>
                                                    <button class="btn remove btn-outline-primary" (click)="deleteLoc(location.id)">Delete
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- <div class="col-3">
                                <div class="card location">
                                    <div class="card-body location-body">
                                        <div class="location-table">
                                            <h5 class="text-center">Country</h5>
                                        </div> -->
                            <!-- <div class="get" *ngFor="let data of getcountry">
                                            <div class="row">
                                                <div class="col-sm-1"></div> -->
                            <!-- <div class="col-sm-6">

                                                    <p class="p-color"><span><i class="fa fa-times-circle" aria-hidden="true"></i>{{data.name}}</span></p>

                                                </div> -->
                            <!-- <div class="col-sm-2"></div> -->
                            <!-- <div class="col-sm-5">
                                                    <p class="loc" (click)="getStatesbyId(data.id)">Get State >></p>

                                                </div> -->
                            <!-- <div class="col-sm-1"></div> -->
                            <!-- </div>
                                </div> -->

                            <!-- <div class="row" *ngIf="moreCountry">
                                            <div class="col-sm-7">
                                            </div>
                                            <div class="col-sm-5">
                                                <ul>
                                                    <li><span><i class="fa fa-times-circle" aria-hidden="true"></i>India</span></li>
                                                    <li><span><i class="fa fa-times-circle" aria-hidden="true"></i>India</span></li>
                                                    <li><span><i class="fa fa-times-circle" aria-hidden="true"></i>India</span></li>
                                                    <li><span><i class="fa fa-times-circle" aria-hidden="true"></i>India</span></li>
                                                </ul>
                                            </div>
                                        </div> -->
                            <!-- </div>
                    </div>
                </div> -->
                            <!-- <div class="col-3">
                                <div class="card location">
                                    <div class="card-body location-body" style="height:100px">
                                        <div class="location-table">
                                            <h5 class="text-center">State</h5>
                                        </div>
                                        <div class="row" *ngIf="moreState">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-4">
                                                <p>India</p>
                                            </div>
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-5">
                                                <p class="loc">View More >></p>
                                            </div>
                                        </div> -->
                            <!-- <div class="row">
                                            <div class="col-sm-7">
                                            </div>
                                            <div class="col-sm-5">
                                                <ul>
                                                    <li><span><i class="fa fa-times-circle" aria-hidden="true"></i>India</span></li>
                                                    <li><span><i class="fa fa-times-circle" aria-hidden="true"></i>India</span></li>
                                                    <li><span><i class="fa fa-times-circle" aria-hidden="true"></i>India</span></li>
                                                    <li><span><i class="fa fa-times-circle" aria-hidden="true"></i>India</span></li>
                                                </ul>
                                            </div>
                                        </div> -->
                            <!-- </div>
                    </div>
                </div> -->
                            <!-- <div class="col-3">
                                <div class="card location">
                                    <div class="card-body location-body" style="height:100px">
                                        <div class="location-table">
                                            <h5 class="text-center">City</h5>
                                        </div>
                                        <div class="row" *ngIf="moreCity">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-4">
                                                <p>India</p>
                                            </div>
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-5">
                                                <p class="loc" (click)="city()">View More >>
                                                </p>
                                            </div>
                                        </div> -->
                            <!-- <div class="row">
                                            <div class="col-sm-7">
                                            </div>
                                            <div class="col-sm-5">
                                                <ul>
                                                    <li><span><i class="fa fa-times-circle" aria-hidden="true"></i>India</span></li>
                                                    <li><span><i class="fa fa-times-circle" aria-hidden="true"></i>India</span></li>
                                                    <li><span><i class="fa fa-times-circle" aria-hidden="true"></i>India</span></li>
                                                    <li><span><i class="fa fa-times-circle" aria-hidden="true"></i>India</span></li>
                                                </ul>
                                            </div>
                                        </div> -->
                            <!-- </div>
                    </div>
                </div> -->
                            <!-- <div class="col-3">
                                <div class="card location">
                                    <div class="card-body location-body" style="height:100px">
                                        <div class="location-table">
                                            <h5 class="text-center">Area</h5>
                                        </div>
                                        <div class="row" *ngIf="moreArea">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-4">
                                                <p>India</p>
                                            </div>
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-5">
                                                <p class="loc" (click)="area()">View More >>
                                                </p>
                                            </div>
                                        </div> -->
                            <!-- <div class="row">
                                            <div class="col-sm-7">
                                            </div>
                                            <div class="col-sm-5">
                                                <ul>
                                                    <li><span><i class="fa fa-times-circle" aria-hidden="true"></i>India</span></li>
                                                    <li><span><i class="fa fa-times-circle" aria-hidden="true"></i>India</span></li>
                                                    <li><span><i class="fa fa-times-circle" aria-hidden="true"></i>India</span></li>
                                                    <li><span><i class="fa fa-times-circle" aria-hidden="true"></i>India</span></li>
                                                </ul>
                                            </div>
                                        </div> -->
                            <!-- </div>
                    </div>
                </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid clearfix">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019
                        <a routerLink="#">Mahali </a>. All rights reserved. </span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">

                    </span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>