.vendor-button{
    background-color: #0d3d66;
}
.location{
    margin-bottom: 40px;
}
input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 17px;
    border: solid 1px #eaeaea;
    border-radius: 5px;
    width: 30%;
  }
  .fa-search{
    position: absolute;
    top: 14%;
    left: 26%;
  }
  .form-control{
      width: 400px;
  }
  .location{
    border: solid 1px #c9c9c9;
    border-radius: 10px;
  }
  .location-body{
    margin-top:0px !important;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    min-height: 100%;
  }
  .loc{
    color: #007bff;
    cursor: pointer;
  }
  .fa-times-circle{
      padding-right: 10px;
  }
  ul li{
      list-style:none
  }
  .location-table{
    background-color: black;
    color: #fff;
    padding: 10px;
    margin-bottom: 15px;
  }
  .location-table h5{
    margin-bottom: 0px;
  }
  .location-body i{
      cursor: pointer;
  }
  .p-color{
    color: #000;
}
