<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <div class="row">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-full-bg">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-dark text-left p-5 login-fields">


                            <h2 class="text-center">Login </h2>
                            <!-- <h4 class="font-weight-light">Hello! let's get started </h4> -->
                            <form class="pt-5">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Username </label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="email"
                                        name="email" />
                                    <i class="mdi mdi-account"></i>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password </label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                        [(ngModel)]="password" name="password" />
                                    <i class="mdi mdi-eye"></i>
                                </div>
                                <!-- <div class="form-group">
                                    <label for="firstname">Role :</label> -->
                                <div class="form-group selectwrap" *ngIf="RouterUrl==='/mahaliadmin/'|| '/'">
                                    <label for="exampleInputEmail1">Select Role </label>
                                    <select class="form-control border-primary" id="exampleSelectPrimary"
                                        (change)="roleChange($event.target.value)">
                                        <option class="dp" value="Admin">Admin</option>
                                        <!-- <option class="dp" value="Wholeseller">Whole Seller</option> -->
                                        <option class="dp" value="Staff">Staff</option>
                                    </select>
                                </div>
                                <!-- <div class="input-group">
                                    <span class="input-group-btn">
                                        <select class="selectpicker" data-style="selectpicker-btn">
                                            <option>Option one</option>
                                            <option>THE HAMBURGER!</option>
                                            <option>Option two or three, depents on how you see it</option>
                                        </select>
                                    </span>

                                </div> -->
                                <div class="mt-5">
                                    <a class="btn btn-block btn-warning btn-lg font-weight-medium"
                                        (click)="adminLogin()">Login
                                    </a>
                                </div>
                                <div class="mt-3 text-center">
                                    <a routerLink="/forgotpassword" class="auth-link text-white">Forgot password? </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>